{{for #data}}
<p class="details">
    <span class="title">{{:id[0]}} &nbsp;</span><span class="value">{{:id[1]}}</span><br />
    <span class="title">{{:genres[0]}} &nbsp;</span><span class="value">{{:genres[1]}}</span><br />
    <span class="title">{{:media[0]}} &nbsp;</span><span class="value">{{:media[1]}}</span><br />
    <span class="title">{{:mname[0]}} &nbsp;</span><span class="value">{{:mname[1]}}</span><br />
    <span class="title">{{:date[0]}} &nbsp;</span><span class="value">{{:date[1]}}</span><br />
    <span class="title">{{:note[0]}} &nbsp;</span><span class="value">{{:note[1]}}</span><br />
    <span class="title">{{:favorite[0]}} &nbsp;</span><span class="value">{{:favorite[1]}}</span><br />
    <span class="title">{{:rating[0]}} &nbsp;</span><span class="value">{{:rating[1]}}</span><br />
</p>
{{/for}}